@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer base {
  body {
    @apply h-full overflow-x-hidden dark:text-slate-300 text-slate-600 font-normal;
  }
  .app-warp {
    &.light,
    &.skin--default {
      @apply bg-slate-100;
    }
    &.lght,
    &.skin--bordered {
      @apply bg-transparent;
    }
    &.dark {
      @apply bg-[#0f172a] text-slate-300;
    }
  }
  html,
  body {
    @apply h-full;
  }

  .dashcode-app-wrapper {
    @apply relative;
  }
  .single-sidebar-menu .ReactCollapse--collapse {
    transition: height 400ms;
  }
  .space-xy-5 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-2 mb-2;
    }
  }
  .space-xy-6 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-4 mb-2;
    }
  }

  html[dir="rtl"] {
    .recharts-wrapper {
      direction: rtl;
    }
    .recharts-yAxis {
      .recharts-text {
        text-anchor: start;
      }
    }
  }
  .dashcode-app {
    .leaflet-control {
      z-index: 0 !important;
    }
    .leaflet-control-container {
      z-index: 555 !important;
      position: relative;
    }
    .recharts-curve.recharts-tooltip-cursor {
      display: none;
    }
    .recharts-wrapper.bar-chart {
      .recharts-tooltip-cursor {
        fill: transparent;
      }
    }
    .recharts-tooltip-wrapper {
      border: none !important;
    }

    // .recharts-cartesian-grid line,
    // .recharts-polar-grid-angle line,
    // .recharts-yAxis line,
    // .recharts-xAxis line {
    //   @apply stroke-black-200 dark:stroke-slate-700;
    // }
  }
// }
@layer components {
  @include meta.load-css("components/table.scss");
  @include meta.load-css("components/map.scss");
  @include meta.load-css("components/progress");
  @include meta.load-css("components/tippy");
  @include meta.load-css("components/swiper");
  @include meta.load-css("components/alert");
  @include meta.load-css("components/card");
  @include meta.load-css("components/auth");
  @include meta.load-css("components/button");
  @include meta.load-css("components/badge");
  @include meta.load-css("components/typography");
  @include meta.load-css("components/form");
  @include meta.load-css("components/input-group");
  @include meta.load-css("components/react-select");
  @include meta.load-css("components/pagination");
  @include meta.load-css("components/breadcrumbs");
  @include meta.load-css("layout/header");
  @include meta.load-css("layout/footer");
  @include meta.load-css("layout/sidebar");
  @include meta.load-css("layout/settings");
  @include meta.load-css("utility/mix");
  @include meta.load-css("utility/loading");
  @include meta.load-css("utility/css-animation");
  @include meta.load-css("utility/calander");
  @include meta.load-css("utility/full-calender");
  @include meta.load-css("components/print.scss");
}
// @layer utilities {
// }
