@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
/* @import "../app/scss/app.scss"; */
/* } */

/* @import "components/map.scss";
@import "components/progress";
@import "components/tippy";
@import "components/swiper";
@import "components/alert";
@import "components/card";
@import "components/auth";
@import "components/button";
@import "components/badge";
@import "components/typography";
@import "components/form";
@import "components/input-group";
@import "components/react-select";
@import "components/pagination";
@import "components/breadcrumbs";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/settings";
@import "utility/mix";
@import "utility/loading";
@import "utility/css-animation";
@import "utility/calander";
@import "utility/full-calender";
@import "components/print.scss"; */

}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
